@import url('https://fonts.googleapis.com/css2?family=Allura&family=Inclusive+Sans&family=Mate+SC&family=Rubik+Moonrocks&family=Ysabeau+SC:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family:'Quattrocento Sans', sans-serif;
    font-size: large;
}
.logo_name{
    font-size: xx-large;
    font-family:'Rubik Moonrocks', sans-serif;   
}
.logo{
    width: 40px;
    height: 40px;
  }
.search .btn{
    position:absolute;
    border:none;
}
.cata{
    display:none;
    margin: 0 10px 0 30px;
}
.form-control{
  width: 300px;
}
 
.header{
    margin-top:10rem;
    margin-bottom:50px;
}
.notice_board{
    font-family:'Rubik Moonrocks', sans-serif;
}
.cards-wrapper {
    display: flex;
    justify-content: center;
}
.card{
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: none;
}

/* HeatRate */
.img_card{
    position: relative;
}
.rating{
    position: absolute;
    top:50%;
    left:80%; 
    display: flex;
    height: 15px; 
}
.rating .rate{
    background: none;
    padding: 0%;
    border: 0;
    cursor: pointer;
}
.rating .rate i{
    display: block;
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s ease;
}
#reactBefore{
    display: block;
}
#reactAfter{
    display: none;
}

.detail_page{
    height:10rem;
}

@media (max-width:991px) {
  .form-control{
    width:150px;
  }
  .logo_name{
    font-size:30px;
  }
  .logo{
    width: 37px;
    height: 37px;
  }
  .user{
    width: 37px;
    height: 37px;
  }
  * {
    font-size: medium;
  }

}
@media (max-width:768px) {
  .card img {
    height : 12em;
  }
  .form-control{
    width:120px;
  }
  .logo_name{
    display: none;
    font-size:20px;
  }
  * {
    font-size: 12px;
  }
  .logo{
    margin-left:20px;
    width: 30px;
    height: 30px;
  }
  .user{
    width: 30px;
    height: 30px;
  }
  .noti{
    width: 20px;
    height: 20px;
  }
  .coin{
    width: 20px;
    height: 20px;
  }
  .search_png{
    width: 20px;
    height: 20px;
  }
  .catago{
    display: none;
  }
  .cata{
    display: block ;
  }
  .coin_num{
    padding-top:5px;
  }
}
/* @media (max-width:518px) {
 
  .form-control{
    width:100px;
  }
  .logo{
    width: 30px;
    height: 30px;
  }
  .user{
    width: 30px;
    height: 30px;
  }
  .coin{
    width: 20px;
    height: 20px;
  }

} */
/* detail */


/* .row{
   
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col{
    flex-basis: 45%;
}
.slider{
    display: flex;
}
.product{
    max-height:30vh;
    cursor: pointer;
    opacity: 0.8;
}

.product img:hover{
    opacity: 1;
}
.preview img{
    height: 100%;
}
p{
    margin-bottom: 20px;
}
.brand{
    background: #008000;
    width: fit-content;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
}
h2{
    font-size: 45px;
    color: #555;
    margin-bottom: 20px;
}
.rating{
    display: flex;
    height: 15px;
}
.rating .fa{
    color: #008000;
}
.price{
    color: #fe980f;
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
}

button{
    color: #fff;
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    background: #fe980f;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}
button .fa{
    margin-right: 10px;
}
.related{
    width: 90%;
    margin: 0 auto 30px;
}
.related .row{
    width: 100%;
    height: auto;
}
.columns{
    flex-basis: 22%;
    height: 100%;
}
/* .items img{
    width: 100%;
} 
.details{
    margin-top: 20px;
}
.details p{
    font-size: 14px;
    margin-bottom: 10px;
}
.details .rating{
    margin: 10px 0;
} */
