 
.header{
  margin-top:10rem;
  margin-bottom:50px;
}

#imagebox{
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid black;

}

.img-thumbnail{
	object-fit: cover;
	max-width: 100px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid black;

}

.slider{
	max-width:500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

.product{
	width: 440px;
}


